SEPOLIA_RPC_URL=https://sepolia.infura.io/v3/YOUR_INFURA_OR_ALCHEMY_KEY
SEPOLIA_PRIVATE_KEY=0xyour_wallet_private_key

NEXT_PUBLIC_CONTRACT_ADDRESS=0xYourDeployedContractAddress
NEXT_PUBLIC_CHAIN_ID=11155111
